html {
    scroll-behavior: smooth;
}

html * {
  font-family: Nunito, sans-serif;
}

.icon {
  display: inline-block;
  width:30px;
  background-image: url(link.svg);
  background-color:red
}
.icon:hover {
  background-color: yellow;
}